<div class='w-[90%] max-w-xl'>
  <%= render  "form", wine: @denomination, url: denomination_path, message: "Editar denominación de orixe" %>
  <%= link_to "Atrás", denominations_path, class: 'underline underline-blue-800 text-blue-600' %>
</div>
