<div class='w-[90%] max-w-xl'>
  <%= render 'form', wine: WineOriginDenomination.new, url: denominations_path, message: 'Engadir denominación de orixe' %>
  <%= link_to "Atrás", denominations_path, class: 'underline underline-blue-800 text-blue-600' %>
</div>
