<div class="flex flex-col w-[90%] max-w-2xl">
    <h1 class="font-thin text-4xl text-center mb-8 text-pretty">Editar menú especial</h1>
    <%= render 'form', special_menu: @special_menu %>
    <%= link_to 'Atras', special_menus_path, class: 'btn btn-secondary' %>
</div>
