<div class="w-full max-w-2xl p-3" data-controller="special_menu-search">
    <h1 class="font-thin text-4xl text-center mb-8 text-pretty"> Menús especiais </h1>
  <div class="flex justify-center">
    <%= render "shared/add_button", path: new_special_menu_path %>
  </div>
  <div id="specialMenuList" class="flex flex-col gap-3">
    <% @special_menus.each do |special_menu| %>
        <%= turbo_stream_from special_menu %>
        <%= render "control_panel_special_menu", special_menu: special_menu %>
    <% end %>
  </div>
</div>
