<button class="mr-8 mb-3 select-none dark:text-white" data-action="click->menu#toggle">
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10 dark:text-white">
        <path stroke="currentColor" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
</button>
