/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @font-face {
  font-family: 'PlayFair';
  src: url('../fonts/PlayfairDisplay-Regular.ttf') format('ttf'),
       url('../fonts/PlayfairDisplay-Bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('ttf'),
       url('../fonts/Roboto-Thin.ttf') format('ttf'),
       url('../fonts/Roboto-Bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.playfare {
  font-family: 'Playfair Display', serif;
}
.lato {
  font-family: 'Lato', sans-serif;
}

body {
  background-image: url('fondo_navega_transparencia');

}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
