/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
@font-face {
  font-family: "PlayFair";
  src: url("../fonts/PlayfairDisplay-Regular.ttf") format("ttf"),
    url("../fonts/PlayfairDisplay-Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("ttf"),
    url("../fonts/Roboto-Thin.ttf") format("ttf"),
    url("../fonts/Roboto-Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.playfare {
  font-family: "Playfair Display", serif;
}
.lato {
  font-family: "Lato", sans-serif;
}

body,
html,
main {
  scrollbar-gutter: stable;
}

/* Personaliza el contenedor de la barra */
::-webkit-scrollbar {
  width: 6px; /* Ancho de la barra vertical */
  height: 6px; /* Altura de la barra horizontal */
}

/* Personaliza el track o la pista de la barra */
::-webkit-scrollbar-track {
  background-color: #c5c5c5;
  border-radius: 6px;
}

/* Personaliza el thumb o el mango de la barra */
::-webkit-scrollbar-thumb {
  background-color: #505050;
  border-radius: 6px;
}

/* Cambia el color del thumb al pasar el ratón */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* body {
    background-color: Canvas;
    color: CanvasText;
    color-scheme: light dark;
} */

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.active-category {
  background-color: #9d9a9a; /* Elige el color que desees para el sombreado */
  transition: background-color 0.3s ease;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #428a84b3;
  font-weight: 600;
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;

  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltip-text.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.562);
}

.card__image {
  height: 12rem;
  width: 100%;
}

@media (min-width: 600px) {
  .card__image {
    max-height: none;
  }
  .card__image img {
    height: 100%;
  }
}

.balance {
  text-wrap: balance;
}

@keyframes pulse-subtle {
  0%,
  23.07% {
    /* 1.5s de actividad sobre 6.5s de ciclo total */
    transform: scale(1);
    opacity: 1;
  }
  11.54% {
    /* A mitad de camino de 1.5s */
    transform: scale(1.03);
    opacity: 0.95;
  }
  23.07%,
  100% {
    /* Desde el fin de la animación hasta completar el ciclo */
    transform: scale(1);
    opacity: 1;
  }
}

.clarito {
  background-color: #0069fd56;
}

.oscuro {
  background-color: #0069fde6;
}

.clarito:hover {
  background-color: #0069fd;
}

.oscuro:hover {
  background-color: #0069fd;
}

.other-locales {
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform-origin: bottom;
  opacity: 0;
  transform: scaleY(0);
}

.other-locales.active {
  opacity: 1;
  transform: scaleY(1);
}

/* Skeleton */

.skeleton-dark,
.skeleton {
  position: relative;
}

.skeleton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: linear-gradient(90deg, #dbdbdb, #f9f9f9, #dbdbdb);
  background-size: 200%;
  animation: skeleton 1s infinite reverse;
}

.skeleton-dark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: linear-gradient(90deg, #0d1219, #1f2937, #0d1219);
  background-size: 200%;
  animation: skeleton 1s infinite reverse;
}

@keyframes skeleton {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

select:disabled {
  background-color: #e0e0e0;
  color: #a0a0a0;
  opacity: 0.3;
}
