<div class='flex flex-col w-full justify-between gap-2 overflow-hidden my-2 rounded-xl border border-neutral-100 animate__animated animate__fadeIn animate__slower print:my-6'>
    <div class=" w-full h-48 rounded-l-xl flex-none overflow-hidden">
        <%= image_tag product.picture.attached? ? product.picture : "placeholder.jpg", class: "object-cover object-center min-w-full min-h-full" %>
    </div>
    <div class="flex gap-2 w-full">
        <div class="title flex flex-col justify-between grow">
            <p class='text-xl  playfare font-light balance'> <%= translate("product.#{product.id}.title", product.title) %></p>
            <div class="text-2xl pe-2 font-extralight self-end">
                <%= number_with_precision(product.prize, precision: 2, separator: ",") %><small class='text-black text-lg font-extralight'>€</small>
            </div>
        </div>
    </div>
</div>
