<div class="flex flex-col w-[90%] max-w-2xl">
  <%= render 'form', product: @product, message: 'Editar producto' %>
  <%= link_to "Atrás", control_panel_path(filter: @product.category.category_type), class: 'underline underline-blue-800 text-blue-600' %>
</div>
