<div class="flex flex-col w-[90%] max-w-2xl">
  <%= render 'form', product: Product.new, message: 'Engadir producto' %>
  <%= link_to "Atrás", control_panel_path, class: 'underline underline-blue-800 text-blue-600' %>
</div>
