<div class='flex justify-between p-4 border-t animate__animated animate__fadeIn animate__fast'>
  <div class="title price flex flex-col max-w-[75%]">
    <p class='text-2xl playfare font-normal'> <%= wine.name %></p>
    <% if wine.price_per_glass %>
      <div class="flex gap-2">
        <span class='font-thin text-xs self-end'>Dispoñible por cop:</span>
        <p class='font-light lato self-end' id='per_glass'><%= number_to_currency(wine.price_per_glass, { unit: '€', separator: ',', format: "%n %u" }) %></p>
      </div>
    <% end %>
  </div>
  <div class="text-xl self-center">
    <%= number_with_precision(wine.price, precision: 2, separator: ',') %><small class='text-black text-base font-extralight'>€</small>
  </div>
</div>
<small class='text-[7px] text-cyan-700 font-extralight ml-4'>ver detalles</small>
