<div class="flex flex-col w-[90%] max-w-2xl">
  <%= render 'form', wine: @wine, message: 'Editar viño' %>
  <%= link_to "Atrás", wines_control_panel_path, class: 'underline underline-blue-800 text-blue-600' %>
</div>
