<div id="<%= dom_id wine_type %>">
    <%=  wine_type.name %>
  <% if action_name != "show" %>
    <%= link_to "Show this wine type", wine_type, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this wine type', edit_wine_type_path(wine_type), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
